dist/*
app/*
node_modules/*

GatoClientLiteRewrite.zip
CrankshaftRewrite.zip
*.zip
*.rar
xed_preload.js
cc-config.js

# yes i know i shouldn't do this but it solved an error for someone so here goes:
package-lock.json