# Telling electron to download a forked version, instead of the official release
electron_custom_dir = v{{ version }}-inputpriofix-1
electron_mirror = https://github.com/thegu5/electron/releases/download/
electron_nightly_mirror = https://github.com/thegu5/electron/releases/download/
electron_use_remote_checksums = true
