/* this is css requried for this client's settings to work properly. */
.Crankshaft-settings .settName {
    color: inherit;
}
.Crankshaft-settings .settName .setting-title {
    color: inherit;
}

/* .Crankshaft-settings .setting {
    display: flex;
    align-items: center;
}
.Crankshaft-settings .setting .setting-title {
    width: 100%;
} */
.Crankshaft-settings .setting .switch {
    /* margin-right: 10px !important; */
    box-sizing: border-box;
}

.Crankshaft-settings .setting.safety-1, .Crankshaft-settings .setting.safety-1 .setting-desc {
    color: gray;
}
.Crankshaft-settings .setting.safety-2, .Crankshaft-settings .setting.safety-2 .setting-desc {
    color: rgb(248, 225, 91);
}
.Crankshaft-settings .setting.safety-3, .Crankshaft-settings .setting.safety-3 .setting-desc {
    color: rgb(245, 150, 42);
}
.Crankshaft-settings .setting.safety-4, .Crankshaft-settings .setting.safety-4 .setting-desc {
    color: darkred;
}
.setting.safety-1, .setting.safety-2, .setting.safety-3, .setting.safety-4,
.setting.safety-1 .setting-title, .setting.safety-2 .setting-title, .setting.safety-3 .setting-title, .setting.safety-4 .setting-title {
    border-bottom: 2px solid;
}
.Crankshaft-settings .setting.safety-1 .setting-title {
    border-bottom-color: gray;
}
.Crankshaft-settings .setting.safety-2 .setting-title {
    border-bottom-color: rgb(248, 225, 91);
}
.Crankshaft-settings .setting.safety-3 .setting-title {
    border-bottom-color: rgb(245, 150, 42);
}
.Crankshaft-settings .setting.safety-4 .setting-title {
    border-bottom-color: darkred;
}

/* .safetyLegend, .sett-note {
    font-size: 0.8rem;
} */

.requires-restart {
    opacity: .8;
}
.requires-restart {
    display: none;
}
.requires-restart.restart-level-2 {
    color: #eb5656;
}

.setting-category-collapsed {
    display: none;
}

.setBodH.safetyLegend {
    padding: 1rem 20px;
}

.setting .setting-desc {
    border: 2px solid rgba(165, 117, 98, 0.2);
    color: inherit;
    background: rgba(165, 117, 98, 0.2);
    opacity: 0.7;
    cursor: pointer;
    border-radius: 100px;
    font-size: 1rem;
    width: 1rem;
    padding: 0 0.2rem;
}

.advancedSwitch {
    opacity: .01;
}
.advancedSwitch:hover {
    opacity: 1;
}