#uiBase.onMenu #spectateUI {
	display: block !important;
}

#uiBase.onMenu #spec1,
#uiBase.onMenu #specGameInfo,
#uiBase.onMenu #spec0,
#uiBase.onMenu #specControlHolder,
#uiBase.onMenu #specNames {
	display: none !important;
}

#uiBase.onMenu #spectateHUD {
	box-sizing: border-box;
	display: flex !important;
	justify-content: center;
	height: .5rem;
	white-space: nowrap;
	width: max-content;

	position: fixed;
	top: calc(50% + 140px);
}
#uiBase.onMenu #spectateHUD #specGMessage {
	top: 0;
}

#uiBase.onMenu #spectateUI > div {
	z-index: 1;
	transform: unset;
}

#uiBase.onMenu .spectateInfo {
	position: fixed;
	top: calc(50% + 80px);
	left: 50%;
	transform: translate(-50%, -50%);
}

#uiBase.onMenu #spectateUI div .spectateInfo #specTimer {
	background-color: #00000050;
	padding: 25px;
	font-size: 42px;
	border-radius: 0.5em;
}