#uiBase.onMenu #spectateUI {
	display: block;
}

#uiBase.onMenu #spectateUI #spectateHUD {
	width: min-content;
	position: absolute;
	left: 50%;
	top: calc(50% + 2rem);
	transform: translateX(-50%);
}

#uiBase.onMenu #spectateUI #specTimer {
	color: white;
	opacity: 1;
	border-radius: 0.5rem;
	z-index: 2;
}

#uiBase.onMenu #spectateUI #specTeam0,
#uiBase.onMenu #spectateUI #spec0,
#uiBase.onMenu #spectateUI #spec1,
#uiBase.onMenu #spectateUI #specTeam1,
#uiBase.onMenu #spectateUI #specGMessage,
#uiBase.onMenu #spectateUI #specGameInfo,
#uiBase.onMenu #spectateUI #specNames,
#uiBase.onMenu #spectateUI #specContr,
#uiBase.onMenu #spectateUI #specKPDContr,
#uiBase.onMenu #spectateUI #specSUS,
#uiBase.onMenu #spectateUI #specStats {
	display: none;
}