/* this css gets injected regardless of userPrefs, because it is required for settings to render correctly */
:root {
	--crankshaft-gray: rgba(255,255,255,.6);
}

.Crankshaft-settings .settName,
.Crankshaft-settings .settName .setting-title {
	color: var(--crankshaft-gray) !important;
}

.Crankshaft-settings .settName {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0fr 1fr 0fr;
	grid-template-areas: 
	"icon title input"
	"desc desc desc";
	grid-template-rows: 0fr min-content;
	align-items: center;
}
.Crankshaft-settings .settName.multisel {
	grid-template-rows: min-content 1fr;
	grid-template-columns: 0fr 1fr;
	grid-template-areas: 
	"icon title" 
	"input input";
}
.Crankshaft-settings .settName.has-button {
	grid-template-areas: 
	"icon title button input"
	"desc desc desc desc";
	grid-template-columns: 0fr 1fr min-content 0fr;
}
.Crankshaft-settings .settName.has-button .settingsBtn { 
	grid-area: button;
	margin: 0 .5rem;
}

.Crankshaft-settings .settName.crankshaft-button-holder { 
	grid-template-columns: 1fr;
	grid-auto-columns: min-content;
	column-gap: 0.25rem;
	grid-template-areas: unset;
	grid-template-rows: 0fr;
	grid-auto-flow: column;
}
.Crankshaft-settings .crankshaft-button-holder .buttons-title, .material-icons { color: inherit; }
.Crankshaft-settings .crankshaft-button-holder .settingsBtn, 
.Crankshaft-settings .settName.has-button .settingsBtn { 
	width: max-content 
}

/* type: num */
.Crankshaft-settings .settName.num .setting-input-wrapper {
	display: flex;
}
.Crankshaft-settings .settName.num .setting-input-wrapper .slidecontainer {
	margin-top: -8px;
}

/* type: multisel */
.crankshaft-multisel-parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr;
	gap: .25rem;

	background: #232323;
	border-radius: 10px;
	margin-top: 0.8rem;
}
.crankshaft-multisel-parent label.hostOpt {
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}
span.optDescription {
    color: #fff;
    z-index: 2;
    font-size: 14px;
    position: relative;
    right: 0;
}

.Crankshaft-settings .settName.multisel label {
	font-size: 1.1rem;
}
.Crankshaft-settings .settName.multisel input {
	margin-left: .25rem;
}

/* general settings */
.Crankshaft-settings .settName .setting-title {
	grid-area: title;
}

.Crankshaft-settings .settName .s-update:disabled,
.Crankshaft-settings .settName .s-update:disabled+.slider.round {
	opacity: 0.5;
	pointer-events: none;
}

.Crankshaft-settings .setting .switch {
	box-sizing: border-box;
}

.Crankshaft-settings .setting .desc-icon {
	grid-area: icon;
	cursor: pointer;
	font-size: 1rem;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	border-radius: 5px !important;
	color: #969696;
	background-color: rgba(99, 99, 99, 0.16);
	border: 2px solid rgba(78, 78, 78, 0.81);
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Crankshaft-settings .setting .desc-icon.instant {
	background-color: rgba(1, 89, 220, 0.16);
	border: 2px solid rgba(3, 133, 255, 0.81);
}

.Crankshaft-settings .setting .desc-icon.instant svg path {
	color: #0385ff;
	fill: currentColor;
}

.Crankshaft-settings .setting.settName .inputGrey2,
.Crankshaft-settings .setting.settName .switch,
.Crankshaft-settings .setting.settName .crankshaft-multisel-parent,
.Crankshaft-settings .setting.settName .setting-input-wrapper {
	grid-area: input;
}

.Crankshaft-settings .setting.safety-1 .desc-icon,
.Crankshaft-settings .setting .desc-icon.refresh-icon {
	background-color: rgba(99, 99, 99, 0.16);
	border: 2px solid rgba(78, 78, 78, 0.81);
}

.Crankshaft-settings .setting.safety-1 .desc-icon svg path,
.Crankshaft-settings .setting .desc-icon.refresh-icon svg path {
	color: #969696;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-2 .desc-icon {
	background-color: rgba(220, 180, 1, 0.16);
	border: 2px solid rgba(241, 186, 6, 0.81);
}

.Crankshaft-settings .setting.safety-2 .desc-icon svg path {
	color: #ffd903;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-3 .desc-icon {
	background-color: rgba(220, 118, 1, 0.16);
	border: 2px solid rgba(241, 131, 6, 0.81);
}

.Crankshaft-settings .setting.safety-3 .desc-icon svg path {
	color: #ff9203;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-4 .desc-icon {
	background-color: rgba(220, 17, 1, 0.16);
	border: 2px solid rgba(239, 6, 6, 0.81);
}

.Crankshaft-settings .setting.safety-4 .desc-icon svg path {
	color: #ff0303;
	fill: currentColor;
}

.desc-icon {
	position: relative;
}

.setting-desc-new {
	display: block;
	width: 750px;
	word-wrap: break-word;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.4) !important;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
	overflow: hidden;
	max-height: 500px;
	margin-top: 5px;
	grid-area: desc;
}

.setting-desc-new a {
	font-size: inherit !important;
	font-family: inherit !important;
}

.setting-category-collapsed {
	display: none;
}

.setBodH.safetyLegend {
	padding: 1rem 20px;
}

.requires-restart {
	opacity: 0.8;
	display: none;
}

.requires-restart.restart-level-2 {
	color: #eb5656;
}

input:checked+.advancedSlider {
	opacity: 0;
	transition: all 0s !important;
	filter: grayscale(1);
}

input:checked+.advancedSlider:hover {
	opacity: .8;
	transition: all 0s !important;
}

/* floating toasts css that is required */
.crankshaft-holder-l,
.crankshaft-holder-r, 
.crankshaft-holder-update {
	position: absolute;
	font-size: 1.125rem !important;
	color: rgba(255, 255, 255, 0.7);
	display: block !important;
}

.crankshaft-holder-r {
	right: 20px;
	bottom: 20px;
	text-align: right;
}

.crankshaft-holder-l {
	left: 20px;
	bottom: 20px;
	text-align: left;
}
.crankshaft-holder-update {
	top: 20px;
	left: 20px;
	background-color: black;
	padding: 1rem;
	border-radius: 0.5rem;
	width: max-content;
	z-index: 10;
}

/* settings refresh popup */
.refresh-popup {
	height: min-content;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255,255,255,0.6)
}
.refresh-popup span {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
	color: rgba(255,255,255,0.6);
}
.refresh-popup, 
.refresh-popup span,
.refresh-popup a {
	vertical-align: middle;
	font-size: .8rem;
	line-height: .8rem;
	z-index: 12;
}
.refresh-popup svg { fill: rgba(255,255,255,0.6); }
.refresh-popup code {
    color: white;
    font-size: 1.2rem;
    line-height: 1.2rem;
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    background-color: #232323;
    padding: 0.08rem 0.4rem;
    border-radius: 3px;
    border: 2px solid #333333
}

.settings-Userscript-Author {
	opacity: 0.4;
	font-size: 0.9rem;
	color: inherit;
}

.brokenCustomUserscriptSettingWrapper .crankshaft-button-holder.setting.settName {
	display: block;
	width: 95%;
}

.setting.settName.safety-0.brokenCustomUserscriptSettingWrapper {
	color: red;
	background: rgba(200, 0, 0, 0.2);
	width: 100%;
	display: flex;
	justify-content: center;
}

.brokenCustomUserscriptSettingWrapper div.setting-title.brokenCustomUserscriptSettingTitle {
	color: red !important;
	grid-area: unset !important;
	border-bottom: 5px solid;
    padding-bottom: 0.4rem;
}

.setting-desc-new.brokenCustomUserscriptSettingDesc {
	width: 100%;
	color: red !important;
	font-style: italic;
	font-weight: bolder;
}

.hiddenClasses-hideAds-bottomOffset { bottom: 80px !important; }
#editorBtnM[src$="client.png"] { display: none; } /* don't promote official client in a custom client lol */