:root {
	--crankshaft-gray: gray !important;
}

.Crankshaft-settings .settName,
.Crankshaft-settings .settName .setting-title {
	color: var(--crankshaft-gray);
}

.Crankshaft-settings .settName {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0fr 1fr 0fr;
	grid-template-areas: "icon title input";
	grid-template-rows: 0fr;
	align-items: center;
}

.Crankshaft-settings .settName .setting-title {
	grid-area: title;
}

.Crankshaft-settings .settName .s-update:disabled,
.Crankshaft-settings .settName .s-update:disabled+.slider.round {
	opacity: 0.5;
	pointer-events: none;
}

.Crankshaft-settings .setting .switch {
	box-sizing: border-box;
}

.Crankshaft-settings .setting .setting-desc {
	grid-area: icon;
	cursor: pointer;
	font-size: 1rem;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	border-radius: 5px !important;
	color: #969696;
	background-color: rgba(99, 99, 99, 0.16);
	border: 2px solid rgba(78, 78, 78, 0.81);
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Crankshaft-settings .setting .setting-desc.instant {
	background-color: rgba(1, 89, 220, 0.16);
	border: 2px solid rgba(3, 133, 255, 0.81);
}

.Crankshaft-settings .setting .setting-desc.instant svg path {
	color: #0385ff;
	fill: currentColor;
}

.Crankshaft-settings .setting.settName .inputGrey2,
.Crankshaft-settings .setting.settName .switch,
.Crankshaft-settings .setting.settName .cs-input-num {
	grid-area: input;
}

.Crankshaft-settings .setting.safety-1 .setting-desc {
	background-color: rgba(99, 99, 99, 0.16);
	border: 2px solid rgba(78, 78, 78, 0.81);
}

.Crankshaft-settings .setting.safety-1 .setting-desc svg path {
	color: #969696;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-2 .setting-desc {
	background-color: rgba(220, 180, 1, 0.16);
	border: 2px solid rgba(241, 186, 6, 0.81);
}

.Crankshaft-settings .setting.safety-2 .setting-desc svg path {
	color: #ffd903;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-3 .setting-desc {
	background-color: rgba(220, 118, 1, 0.16);
	border: 2px solid rgba(241, 131, 6, 0.81);
}

.Crankshaft-settings .setting.safety-3 .setting-desc svg path {
	color: #ff9203;
	fill: currentColor;
}

.Crankshaft-settings .setting.safety-4 .setting-desc {
	background-color: rgba(220, 17, 1, 0.16);
	border: 2px solid rgba(239, 6, 6, 0.81);
}

.Crankshaft-settings .setting.safety-4 .setting-desc svg path {
	color: #ff0303;
	fill: currentColor;
}

.setting-desc {
	position: relative;
}

.setting-desc-new {
	display: block;
	width: 750px;
	word-wrap: break-word;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.4) !important;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
	overflow: hidden;
	max-height: 500px;
	margin-top: 5px;
	grid-area: 2/1/3/4;
}

.setting-desc-new a {
	font-size: inherit !important;
	font-family: inherit !important;
}

.setting-category-collapsed {
	display: none;
}

.setBodH.safetyLegend {
	padding: 1rem 20px;
}

.requires-restart {
	opacity: 0.8;
	display: none;
}

.requires-restart.restart-level-2 {
	color: #eb5656;
}

input:checked+.advancedSlider {
	opacity: 0;
	transition: all 0s !important;
}

input:checked+.advancedSlider:hover {
	opacity: 1;
	transition: all 0s !important;
}