name: Build crankshaft

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Install g++-multilib
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install g++-multilib

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build and release if the draft exists
        run: pnpm run dist
        env:
          GH_TOKEN: ${{ secrets.github_token }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Binaries-${{ runner.os }}
          path: dist/crankshaft-*
  release:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Create nightly releas
        uses: softprops/action-gh-release@v1
        with:
          files: Binaries-*/*
          body_path: ${{ github.workspace }}/.github/workflows/notes.md
          name: Nightly release
          tag_name: nightly
          prerelease: true
